# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
env/

# VSCode settings
.vscode/

# Docker
*.log
*.pid

# OS files
.DS_Store
Thumbs.db